In [12]:
import pandas as pd
import numpy as np
dataset = pd.read_csv("/Users/harshavarthanan/Downloads/Avatar2.csv")
display(dataset.head())
print(dataset.shape)

,Name,Comment,Time,Likes,Reply Count
0,MV,I liked the part where Morbius wiped half of t...,2022-12-06T22:00:47Z,0,0
1,lola,"ive loved everything about avatar, the nature,...",2022-12-06T21:41:56Z,0,0
2,CHRONICLE KAI,Watching the long-awaited sequel in 8 days. It...,2022-12-06T21:27:03Z,0,0
3,OFW Schroedinger,the humans better win this time,2022-12-06T21:02:36Z,0,0
4,مصطفى هندى,I can't wait for this,2022-12-06T19:32:43Z,0,0

(27999, 5)

In [17]:
print(dataset['Comment'][351])
print(" ")

This looks like a Titanic rip-off? The whole trailer is basically Rose and Jack's story? Why does the director want to copy James Cameron's work so bad?

In [18]:
def clean_text(text):
    text = text.lower().replace("'","").replace('[^\w\s]', ' ').replace(" \d+", " ").strip()
    return text
#test your function works
sample = dataset['Comment'][351]
clean_text(sample)

'this looks like a titanic rip-off? the whole trailer is basically rose and jacks story? why does the director want to copy james camerons work so bad?'

In [36]:
dataset['Clean Comment'] = dataset['Comment'].apply(clean_text)
dataset.head()

,Name,Comment,Time,Likes,Reply Count,Clean Comment
0,MV,I liked the part where Morbius wiped half of t...,2022-12-06T22:00:47Z,0,0,i liked the part where morbius wiped half of t...
1,lola,"ive loved everything about avatar, the nature,...",2022-12-06T21:41:56Z,0,0,"ive loved everything about avatar, the nature,..."
2,CHRONICLE KAI,Watching the long-awaited sequel in 8 days. It...,2022-12-06T21:27:03Z,0,0,watching the long-awaited sequel in 8 days. it...
3,OFW Schroedinger,the humans better win this time,2022-12-06T21:02:36Z,0,0,the humans better win this time
4,مصطفى هندى,I can't wait for this,2022-12-06T19:32:43Z,0,0,i cant wait for this

In [37]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
#stop_words_list = stopwords.words('english') + ['though', 'game', 'games']

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/harshavarthanan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/harshavarthanan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [38]:
# initiate stopwords from nltk

stop_words = stopwords.words('english')
print(len(stop_words))
# add additional missing terms

stop_words.extend(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l','m','n','o','p','q','r','s','t', 'u', 'v', 'w', 'x', 'y', 'z', "about", "across", "after", "all", "also", "an", "and", "another", "added",
"any", "are", "as", "at", "basically", "be", "because", 'become', "been", "before", "being", "between","both", "but", "by","came","can","come","could","did","do","does","each","else","every","either","especially", "for","from","get","given","gets",
'give','gives',"got","goes","had","has","have","he","her","here","him","himself","his","how","if","in","into","is","it","its","just","lands","like","make","making", "made", "many","may","me","might","more","most","much","must","my","never","provide", 
"provides", "perhaps","no","now","of","on","only","or","other", "our","out","over","re","said","same","see","should","since","so","some","still","such","seeing", "see", "take","than","that","the","their","them","then","there",
"these","they","this","those","through","to","too","under","up","use","using","used", "underway", "very","want","was","way","we","well","were","what","when","where","which","while","whilst","who","will","with","would","you","your", 
'etc', 'via', 'eg', 'game', 'games' 'like']) 

# remove stopwords
print(len(stop_words))
#df[1] = df[1].apply(lambda x: [item for item in x if item not in stop_words])

#display(df.head(10))

179
352

In [40]:
def superclean(text):
  #tokens = text.split(" ")
  text = text.lower().replace("'","").replace('[^\w\s]', ' ').replace(" \d+", " ").strip()
  tokens = nltk.word_tokenize(text)
  stop_tokens = [item for item in tokens if item not in stop_words]
  new_text = ' '.join(stop_tokens)
  return new_text
print(dataset['Comment'][351])
print("------")
print(superclean(dataset['Comment'][351]))

This looks like a Titanic rip-off? The whole trailer is basically Rose and Jack's story? Why does the director want to copy James Cameron's work so bad?
------
looks titanic rip-off ? whole trailer rose jacks story ? director copy james camerons work bad ?

In [41]:
dataset['Clean Comment'] = dataset['Comment'].apply(superclean)
dataset.head()
dataset["char_count"] = dataset['Clean Comment'].apply(len)
df = dataset.drop(dataset[dataset['char_count'] < 50].index)
#df = df.drop(df[df.score < 50].index)
#df = df.drop(df[(df.score < 50) & (df.score > 20)].index)
print(df.shape)
print(dataset.shape)
display(df.head())

(8661, 7)
(27999, 7)

,Name,Comment,Time,Likes,Reply Count,Clean Comment,char_count
0,MV,I liked the part where Morbius wiped half of t...,2022-12-06T22:00:47Z,0,0,"liked part morbius wiped half aliens species ,...",98
1,lola,"ive loved everything about avatar, the nature,...",2022-12-06T21:41:56Z,0,0,"ive loved everything avatar , nature , creatur...",116
2,CHRONICLE KAI,Watching the long-awaited sequel in 8 days. It...,2022-12-06T21:27:03Z,0,0,watching long-awaited sequel 8 days . ’ journe...,85
5,AT STUFF,cgi is worse than avatar 1 and it looks like a...,2022-12-06T19:25:12Z,1,1,cgi worse avatar 1 looks poorly 3d animated mo...,85
11,Saravana Win Vlog,"Based on Law of diminishing marginal utility, ...",2022-12-06T17:26:35Z,1,0,"based law diminishing marginal utility , seque...",97

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
#Only include those words that appear in less than 80% of the document (max_df=0.8)
#Only include those words that ppear in at least 2 documents
count_vect = CountVectorizer(max_df=0.8, min_df=2, stop_words='english')
#.values Only the values in the DataFrame will be returned, the axes labels will be removed.
#The astype(‘U’) is telling numpy to convert the data to Unicode (essentially a string in python 3).
doc_term_matrix = count_vect.fit_transform(dataset['Clean Comment'].values.astype('U'))

In [51]:
from sklearn.decomposition import LatentDirichletAllocation
#n_components = num. of topics
#random_state = Is just random
LDA = LatentDirichletAllocation(n_components=10, random_state=42)
LDA.fit(doc_term_matrix)

LatentDirichletAllocation(random_state=42)

In [52]:
for i,topic in enumerate(LDA.components_):
    print(f'Top 10 words for topic #{i}:')
    print([count_vect.get_feature_names_out()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 words for topic #0:
['late', 'trailer', 'coming', 'music', 'nice', 'movie', 'goosebumps', 'finally', 'im', 'excited']


Top 10 words for topic #1:
['world', 'avatar', 'channel', 'invalid', 'zcsafez', 'href', 'quot', 'james', 'cameron', 'br']


Top 10 words for topic #2:
['god', 'subnautica', 'masterpiece', 'anna', 'sudheer', 'jai', 'beautiful', 'love', 'movie', 'wait']


Top 10 words for topic #3:
['watching', 'br', 'time', '13', 'waiting', 'watch', 'wait', 'avatar', 'years', 'movie']


Top 10 words for topic #4:
['что', 'lol', 'это', 'forever', 'не', 'long', 'meh', 'omg', 'waiting', 'wow']


Top 10 words for topic #5:
['film', 'story', 'hope', 'people', 'humans', 'water', 'quot', 'movie', 'time', 'avatar']


Top 10 words for topic #6:
['looks', 'care', 'views', 'watch', 'know', 'good', 'dont', 'movie', 'gon', 'na']


Top 10 words for topic #7:
['great', 'epic', 'story', 'feel', 'stunning', 'plot', 'going', 'shit', 'movie', 'looks']


Top 10 words for topic #8:
['jake', 'humans', 'href', 'https', 'www', 'd9myw72elq0', 'com', 'youtube', 'watch', 'amp']


Top 10 words for topic #9:
['4k', 'better', 'really', 'good', 'look', 'movie', 'amazing', 'trailer', 'cgi', 'looks']

In [55]:
LDA_Advanced = LatentDirichletAllocation(n_components=5,
max_iter=10, 
learning_method='online',
random_state=100,
batch_size=128,
evaluate_every = -1,
n_jobs = -1 )
LDA_Advanced.fit(doc_term_matrix)

LatentDirichletAllocation(learning_method='online', max_iter=20, n_components=5,
                          n_jobs=-1, random_state=100)

In [57]:
for i,topic in enumerate(LDA_Advanced.components_):
    print(f'Top 10 words for topic #{i}:')
    print([count_vect.get_feature_names_out()[i] for i in topic.argsort()[-10:]])
    print('\n')

Top 10 words for topic #0:
['love', 'dont', 'gon', 'cgi', 'avatar', 'na', 'good', 'quot', 'movie', 'looks']


Top 10 words for topic #1:
['best', 'href', 'beautiful', 'world', 'going', 'movie', 'watch', 'trailer', 'avatar', 'br']


Top 10 words for topic #2:
['omg', 'avatar', 'real', 'nice', 'bad', 'shit', 'video', 'masterpiece', 'great', 'wow']


Top 10 words for topic #3:
['не', 'money', 'papyrus', 'lol', 'subnautica', 'year', 'visuals', 'story', 'james', 'cameron']


Top 10 words for topic #4:
['long', 'amazing', 'finally', 'im', 'avatar', 'time', 'waiting', 'years', 'wait', 'movie']

In [53]:
topic_values = LDA_Advanced.transform(doc_term_matrix)
topic_values.shape
dataset['Topic'] = topic_values.argmax(axis=1)
dataset[16000:16010]

,Name,Comment,Time,Likes,Reply Count,Clean Comment,char_count,Topic
16000,Mr. Potato,I wanna see the humans win. They came in peace...,2022-11-02T18:28:21Z,0,0,"wan na humans win . peace tried treaty , gave ...",152,4
16001,Aj Dawson,This looks amazing,2022-11-02T18:28:21Z,0,0,looks amazing,13,0
16002,Aung Phyo Thu,Avatar The Blue Indians &amp; Their Dino Birds...,2022-11-02T18:28:16Z,0,0,avatar blue indians & amp ; dino birds < br > ...,58,2
16003,Kendra,I’m so crazy excited!! I’ve been waiting for t...,2022-11-02T18:28:10Z,0,0,’ crazy excited ! ! ’ waiting movie 9 years old !,49,4
16004,Butterscotchtrap,This film had to be difficult to pull since wa...,2022-11-02T18:28:10Z,0,0,film difficult pull water hard render engine ....,94,0
16005,W M D,&quot;Papyrus!&quot;,2022-11-02T18:28:09Z,0,0,& quot ; papyrus ! & quot ;,27,0
16006,Abridgedbog775,It's time to purge some xenos,2022-11-02T18:28:04Z,0,0,time purge xenos,16,4
16007,xwaltranx,what looks more human? zuckerbergs meta avatar...,2022-11-02T18:27:57Z,0,0,looks human ? zuckerbergs meta avatars blue th...,169,0
16008,Benjamin Aswad,It's gonna flop. Nothing is ever as good as th...,2022-11-02T18:27:55Z,0,0,gon na flop . nothing ever good original even ...,69,0
16009,Ryan Mulford,Okay...fine.,2022-11-02T18:27:54Z,0,0,okay ... fine .,15,1

In [54]:
file_name = 'TopicData.xlsx'
  
# saving the excel
dataset.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.